/*abstracts*/
/* colors */
/* breakpoints */
/*vendors*/
/*$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0; 

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

ul, ol {
    padding-left: 0;
}*/
/*base*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:wght@600&family=Outfit:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exo, .destacados__cards .destacados__card--3 .cardText p, .destacados__cards .destacados__card--2 .cardText p, .destacados__cards .destacados__card--1 .cardText p, .destacados h2, .pedidos__lista h3, .pedidos h2, .manijas__text, .banner__subtitle, .banner__title {
  font-family: Exo;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.bebas, .navbar ul a {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.outfit, #info .info--mobile__item,
#info .info__item, .destacados__cards .destacados__card--3 .cardText span, .destacados__cards .destacados__card--2 .cardText span, .destacados__cards .destacados__card--1 .cardText span, .pedidos__lista ol li, .manijas__star span, .button, footer span {
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: -0.011em;
}

/*layout*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #525C63;
  width: 100%;
  height: 240px;
}
.navbar .topNavbar {
  padding-top: 10px;
}
.navbar .topNavbar .logo {
  width: 234px;
}
.navbar .topNavbar button {
  background-color: initial;
  border: none;
  display: none;
}
.navbar .topNavbar #closeMenuButton {
  display: none;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar ul a {
  text-decoration: none;
  color: #D1B641;
  font-size: 30px;
  text-transform: uppercase;
}
.navbar #list--desktop {
  width: 700px;
  justify-content: space-between;
  list-style: none;
}
.navbar #navLinks--mobile {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #525C63;
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .navbar .topNavbar {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .navbar .topNavbar .logo {
    width: 75px;
  }
  .navbar .topNavbar button {
    position: absolute;
    top: 25px;
  }
  .navbar .topNavbar #closeMenuButton {
    left: 0;
    padding-right: 20px;
  }
  .navbar .topNavbar #openMenuButton {
    right: 0;
    padding-left: 20px;
    display: inline;
  }
  .navbar #navLinks--desktop {
    display: none;
  }
  .navbar #navLinks--mobile {
    width: 100%;
    display: flex;
  }
  .navbar #list--mobile {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .navbar #list--mobile li {
    width: 100%;
  }
  .navbar #list--mobile li a {
    text-transform: none;
    color: white;
    height: 50px;
    font-family: exo;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbar #list--mobile li a span {
    display: block;
  }
  .navbar .navLinks--active {
    display: flex;
  }
}
footer {
  background-color: #DBDDD6;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer span {
  color: #66737C;
  font-size: 25px;
  font-weight: normal;
}
footer ul {
  display: flex;
  margin-top: 20px;
  list-style: none;
  width: 140px;
  display: flex;
  justify-content: space-evenly;
}

/*components*/
.button {
  text-decoration: none;
  color: #66737C;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*pages*/
.banner {
  height: 90vh;
  min-height: 350px;
  background-image: url("../../img/portada.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}
.banner__line {
  border-top: 3px solid #D1B641;
  width: 273px;
  margin: 20px 0;
}
.banner__title {
  color: white;
  font-size: 50px;
}
@media (max-width: 575.98px) {
  .banner__title {
    font-size: 28px;
  }
}
.banner__subtitle {
  color: white;
  font-size: 32px;
  text-align: center;
}
@media (max-width: 575.98px) {
  .banner__subtitle {
    font-size: 24px;
  }
}

.manijas {
  margin-top: 100px;
  height: 590px;
  width: 85%;
  max-width: 1800px;
  background-position: center;
  background-size: cover;
  border-radius: 0 20px 20px 0;
  background-image: url("../../img/manijas-honolulu.png");
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media (max-width: 575.98px) {
  .manijas {
    height: 225px;
    margin-top: 50px;
  }
}
.manijas__star {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: -70px;
  width: 200px;
  height: 210px;
  background-image: url("../../img/star.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575.98px) {
  .manijas__star {
    width: 75px;
    height: 75px;
    right: -30px;
    top: -30px;
  }
}
.manijas__star span {
  z-index: 1;
  color: black;
  text-align: center;
  color: white;
  transform: rotate(11.29deg);
  font-size: 30px;
}
@media (max-width: 575.98px) {
  .manijas__star span {
    font-size: 12px;
    line-height: 12px;
  }
}
.manijas__gradient {
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 90.1%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 0 20px 20px 0;
  width: 100%;
  height: 100%;
}
.manijas__text {
  color: white;
  z-index: 1;
  margin-left: 100px;
  margin-bottom: 50px;
}
@media (max-width: 575.98px) {
  .manijas__text {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
.manijas__text h2 {
  font-size: 50px;
  margin-bottom: 50px;
}
@media (max-width: 575.98px) {
  .manijas__text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.manijas__text p {
  font-size: 32px;
}
@media (max-width: 575.98px) {
  .manijas__text p {
    font-size: 14px;
  }
}

.pedidos {
  margin-top: 100px;
  background-color: #66737C;
  width: 95%;
  max-width: 2000px;
  border-radius: 40px 0px 0px 40px;
  margin-left: auto;
  padding: 40px;
}
@media (max-width: 575.98px) {
  .pedidos {
    width: 100%;
    border-radius: 40px;
    padding: 40px 30px;
    margin-top: 50px;
  }
}
.pedidos h2 {
  color: white;
  text-align: center;
  font-size: 50px;
  padding-bottom: 40px;
}
@media (max-width: 575.98px) {
  .pedidos h2 {
    font-size: 28px;
  }
}
.pedidos__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .pedidos__container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
.pedidos__lista {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pedidos__lista h3 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
  max-width: 500px;
}
@media (max-width: 575.98px) {
  .pedidos__lista h3 {
    font-size: 18px;
  }
}
.pedidos__lista ol {
  list-style-position: inside;
  margin-bottom: 50px;
}
@media (max-width: 575.98px) {
  .pedidos__lista ol {
    margin-bottom: 0;
  }
}
.pedidos__lista ol li {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: left;
}
@media (max-width: 575.98px) {
  .pedidos__lista ol li {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.pedidos__button {
  width: 100%;
  max-width: 584px;
}
@media (max-width: 575.98px) {
  .pedidos__button {
    height: 56px;
    margin: 15px 0;
  }
}
.pedidos__clientes {
  display: none;
  color: white;
  font-size: 16px;
  font-family: outfit;
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .pedidos__clientes {
    display: inline;
  }
}
.pedidos__images {
  flex: 1;
  display: flex;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .pedidos__images {
    justify-content: space-between;
  }
}
.pedidos__image {
  height: auto;
  border-radius: 20px;
}
@media (max-width: 575.98px) {
  .pedidos__image {
    width: 47%;
    height: auto;
  }
}
.pedidos__image--2 {
  display: none;
}
@media (max-width: 575.98px) {
  .pedidos__image--2 {
    display: inline;
  }
}

/*
 #pedidos {
        .pedidosContainer {
            width: 100%;
            border-radius: 40px;
            padding: 0 40px;
            h2 {
                font-size: 28px;
            }
            .pedidosFlex {
                flex-direction: column;
                width: 100%;
                align-items: center;

                .texto {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h3 {
                        font-size: 18px;
                    }
                    ol {
                        margin-bottom: 0;
                        li {
                            font-size: 15px;
                            margin-bottom: 10px;
                        }
                    }
                    .button {
                        height: 56px;
                        margin: 15px 0;
                    }
                }

                .textoClientes {
                    color: white;
                    font-size: 16px;
                    font-family: outfit;
                    text-align: left;
                    width: 100%;
                    display: inline;
                }

                .pedidosImgContainer {
                    display: flex;
                    margin-top: 20px;
                    justify-content: space-between;
                    width: 100%;
                    img {
                        width: 47%;
                        height: auto;
                    }

                    .pedidosImg-2 {
                        display: inline;
                    }
                }
            }
        }
    }

*/
.destacados {
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.destacados h2 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 40px;
  color: #858D76;
}
@media (max-width: 575.98px) {
  .destacados h2 {
    font-size: 20px;
  }
}
.destacados__bg {
  height: 70%;
  position: absolute;
  bottom: 0;
  border-radius: 50px 50px 0 0;
  z-index: -1;
  width: 100%;
  background-color: #858D76;
}
.destacados__grid {
  width: 100%;
  display: grid;
  grid-template: "cards" "button" "info" "controls";
  grid-template-rows: auto 180px auto auto;
  grid-template-columns: auto;
}
.destacados__grid .controls {
  grid-area: controls;
}
.destacados__grid .destacados__ver-todos {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
}
.destacados__grid .destacados__ver-todos .button {
  width: 370px;
  color: #858D76;
}
@media (max-width: 575.98px) {
  .destacados__grid .destacados__ver-todos .button {
    width: 80%;
  }
}
.destacados__scroll {
  width: 100%;
  overflow-x: auto;
}
.destacados__cards {
  grid-area: cards;
  display: flex;
  justify-content: space-evenly;
}
.destacados__cards .destacados__card--1 {
  height: 440px;
  width: 360px;
  display: flex;
  flex-direction: column;
}
.destacados__cards .destacados__card--1 .cardImg {
  background-image: url("../../img/card1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75%;
  border-radius: 20px 20px 0 0;
}
.destacados__cards .destacados__card--1 .cardText {
  height: 25%;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.destacados__cards .destacados__card--1 .cardText p {
  color: #D1B641;
  font-size: 26px;
}
@media (max-width: 575.98px) {
  .destacados__cards .destacados__card--1 .cardText p {
    font-size: 20px;
    line-height: initial;
  }
}
.destacados__cards .destacados__card--1 .cardText span {
  color: black;
  font-size: 20px;
}
@media (max-width: 575.98px) {
  .destacados__cards .destacados__card--1 .cardText span {
    font-size: 14px;
    line-height: initial;
  }
}
@media (max-width: 575.98px) {
  .destacados__cards .destacados__card--1 {
    width: 210px;
    height: 200px;
  }
}
.destacados__cards .destacados__card--2 {
  height: 440px;
  width: 360px;
  display: flex;
  flex-direction: column;
}
.destacados__cards .destacados__card--2 .cardImg {
  background-image: url("../../img/card2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75%;
  border-radius: 20px 20px 0 0;
}
.destacados__cards .destacados__card--2 .cardText {
  height: 25%;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.destacados__cards .destacados__card--2 .cardText p {
  color: #D1B641;
  font-size: 26px;
}
@media (max-width: 575.98px) {
  .destacados__cards .destacados__card--2 .cardText p {
    font-size: 20px;
    line-height: initial;
  }
}
.destacados__cards .destacados__card--2 .cardText span {
  color: black;
  font-size: 20px;
}
@media (max-width: 575.98px) {
  .destacados__cards .destacados__card--2 .cardText span {
    font-size: 14px;
    line-height: initial;
  }
}
@media (max-width: 575.98px) {
  .destacados__cards .destacados__card--2 {
    width: 210px;
    height: 200px;
  }
}
.destacados__cards .destacados__card--3 {
  height: 440px;
  width: 360px;
  display: flex;
  flex-direction: column;
}
.destacados__cards .destacados__card--3 .cardImg {
  background-image: url("../../img/card3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75%;
  border-radius: 20px 20px 0 0;
}
.destacados__cards .destacados__card--3 .cardText {
  height: 25%;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.destacados__cards .destacados__card--3 .cardText p {
  color: #D1B641;
  font-size: 26px;
}
@media (max-width: 575.98px) {
  .destacados__cards .destacados__card--3 .cardText p {
    font-size: 20px;
    line-height: initial;
  }
}
.destacados__cards .destacados__card--3 .cardText span {
  color: black;
  font-size: 20px;
}
@media (max-width: 575.98px) {
  .destacados__cards .destacados__card--3 .cardText span {
    font-size: 14px;
    line-height: initial;
  }
}
@media (max-width: 575.98px) {
  .destacados__cards .destacados__card--3 {
    width: 210px;
    height: 200px;
  }
}
@media (max-width: 575.98px) {
  .destacados__cards .destacados__card {
    flex-shrink: 0;
  }
}
@media (max-width: 575.98px) {
  .destacados__cards {
    overflow-x: auto;
    width: 730px;
  }
}

#info {
  background-color: #858D76;
  padding-bottom: 50px;
}
#info .info--mobile,
#info .info {
  grid-area: info;
  display: flex;
  justify-content: space-evenly;
}
#info .info--mobile__item,
#info .info__item {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
}
#info .info--mobile__item img,
#info .info__item img {
  height: 54px;
  margin-bottom: 20px;
}
#info .info--mobile__item p,
#info .info__item p {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}
#info .info--mobile__item span,
#info .info__item span {
  font-size: 20px;
}
@media (max-width: 575.98px) {
  #info .info {
    display: none;
  }
}
#info .info--mobile {
  display: none;
}
#info .info--mobile .info__item--mobile {
  display: none;
}
#info .info--mobile .item1 {
  display: inline;
}
@media (max-width: 575.98px) {
  #info .info--mobile {
    display: flex;
  }
  #info .info--mobile .info__item {
    width: 10px;
  }
}
#info .controls {
  display: none;
  background-color: #858D76;
  justify-content: center;
  padding: 20px 0;
}
@media (max-width: 575.98px) {
  #info .controls {
    display: flex;
  }
}
#info .controls .dot {
  padding: 5px;
  margin: 0 10px;
  height: 15px;
  width: 15px;
  background-color: #9FA98B;
  border-radius: 50%;
  display: inline-block;
}
#info .controls .dot--active {
  background: #6F7662;
  width: 30px;
  border-radius: 50px;
  transition: all 0.5s;
}

/* 
npm run sass
sass --watch styles/scss/main.scss styles/css/style.css 
https://sass-guidelin.es/
*/

/*# sourceMappingURL=style.css.map */
