@mixin item {
    color: white;
    @extend .outfit;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img {
        height: 54px;
        margin-bottom: 20px;
    }

    p {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    span {
        font-size: 20px;
    }

}