/* colors */
$primary: #525C63;
$primaryLight: #66737C;
$primaryControl:#9FA98B;
$primaryControlActive: #6F7662;
$secondary: #858D76;
$secondaryLight: #DBDDD6;
$text: #D1B641;
$textLight: #E3D38D;

/* breakpoints */

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;


