#portada {
    height: 90vh;
    min-height: 350px;
    background-image: url("../../img/portada.png");
    background-position: center;
    background-size: cover;

    .portadaContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-bottom: 10%;

        .line {
            border-top: 3px solid $text;
            width: 273px;
            margin: 20px 0;
        }

        .mainTitle {
            color: white;
            @extend .exo;
            font-size: 50px;
        }

        .subtitle {
            color: white;
            @extend .exo;
            font-size: 32px;
        }
    }
}

#productoDelMes {
    padding-top: 100px;

    .manijas {
        height: 590px;
        width: 85%;
        max-width: 1800px;
        background-position: center;
        background-size: cover;
        border-radius: 0 20px 20px 0;
        background-image: url("../../img/manijas-honolulu.png");
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .star {
            position: absolute;
            z-index: 1;
            top: 10px;
            right: -70px;
            width: 200px;
            height: 210px;
            background-image: url("../../img/star.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                z-index: 1;
                color: black;
                text-align: center;
                @extend .outfit;
                color: white;
                transform: rotate(11.29deg);
                font-size: 30px;
            }
        }

        .degradado {
            position: absolute;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 90.1%, rgba(0, 0, 0, 0.8) 100%);
            border-radius: 0 20px 20px 0;
            width: 100%;
            height: 100%;
        }

        .manijasText {
            @extend .exo;
            color: white;
            z-index: 1;
            margin-left: 100px;
            margin-bottom: 50px;
        }

        h2 {
            font-size: 50px;
            margin-bottom: 50px;
        }

        p {
            font-size: 32px;
        }
    }
}

#pedidos {
    padding-top: 100px;
    display: flex;
    justify-content: end;

    .pedidosContainer {
        background-color: $primaryLight;
        width: 95%;
        max-width: 2000px;
        border-radius: 40px 0px 0px 40px;

        h2 {
            color: white;
            @extend .exo;
            text-align: center;
            font-size: 50px;
            padding: 40px 0;
        }

        .pedidosFlex {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 50px;
            max-width: 1600px;
            margin: 0 auto;

            .texto {
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;


                h3 {
                    @extend .exo;
                    font-size: 26px;
                    text-align: center;
                    margin-bottom: 30px;
                    max-width: 500px;
                }

                ol {
                    list-style-position: inside;
                    margin-bottom: 50px;

                    li {
                        @extend .outfit;
                        font-weight: normal;
                        font-size: 30px;
                        margin-bottom: 30px;
                    }
                }


                .button {
                    width: 100%;
                }
            }

            .textoClientes {
                display: none;
            }

            .pedidosImg-1 {
                height: 400px;
            }

            .pedidosImg-2 {
                display: none;
            }
        }
    }
}

#destacados {
    padding-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;

    h2 {
        @extend .exo;
        text-align: center;
        font-size: 50px;
        padding: 40px 0;
        color: $secondary;
    }

    .destacadosGrid {
        width: 100%;
        display: grid;
        grid-template: "cards" "button" "info" "controls";
        grid-template-rows: auto 180px auto auto;
        grid-template-columns: auto;

        .background {
            height: 70%;
            position: absolute;
            bottom: 0;
            border-radius: 50px 50px 0 0;
            z-index: -1;
            width: 100%;
            background-color: $secondary;
        }

        .controls {
            grid-area: controls;
        }

        .cardsContainer {
            grid-area: cards;
            display: flex;
            justify-content: space-evenly;

            .card1 {
                @include card("../../img/card1.png");
            }

            .card2 {
                @include card("../../img/card2.png");
            }

            .card3 {
                @include card("../../img/card3.png");
            }
        }

        .verTodos {
            grid-area: button;
            display: flex;
            justify-content: center;
            align-items: center;

            .button {
                width: 370px;
                color: $secondary;
            }
        }

        .info--mobile, .info {
            grid-area: info;
            display: flex;
            justify-content: space-evenly;

            .item {
                @include item;
                flex: 1;
            }
        }

        .info--mobile {
            display: none;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media screen and (max-width: 767.98px) {
    #portada {
        h1 {
            font-size: 28px;
        }
        h2 {
            text-align: center;
            font-size: 24px;
        }
    }

    #productoDelMes {
        .manijas {
            height: 225px;
            .star {
                width: 75px;
                height: 75px;
                right: -30px;
                top: -30px;
                span {
                    font-size: 12px;
                    line-height: 12px;
                }
            }
            .manijasText {
                margin-bottom: 20px;
                margin-left: 20px;
                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }

    #pedidos {
        .pedidosContainer {
            width: 100%;
            border-radius: 40px;
            padding: 0 40px;
            h2 {
                font-size: 28px;
            }
            .pedidosFlex {
                flex-direction: column;
                width: 100%;
                align-items: center;
              
                .texto {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h3 {
                        font-size: 18px;
                    }
                    ol {
                        margin-bottom: 0;
                        li {
                            font-size: 15px;
                            margin-bottom: 10px;
                        }
                    }
                    .button {
                        width: 100%;
                        height: 56px;
                        margin: 15px 0;
                    }
                }

                .textoClientes {
                    color: white;
                    font-size: 16px;
                    font-family: outfit;
                    text-align: left;
                    width: 100%;
                    display: inline;
                }

                .pedidosImgContainer {
                    display: flex;
                    margin-top: 20px;
                    justify-content: space-between;
                    width: 100%;
                    img {
                        width: 47%;
                        height: auto;
                    }

                    .pedidosImg-2 {
                        display: inline;
                    }
                }
            }
        }
    }

    #destacados {
        h2 {
            font-size: 28px;
        }

        .destacadosGrid {
            .cardsContainer {
                justify-content: space-between;
                width: 700px;
                overflow-x: scroll;
                display: none;
                .card1, .card2, .card3 {
                   width: 210px; 
                   height: 270px;
                   .cardText {
                       p {
                           font-size: 20px;
                       }
                       span {
                           font-size: 16px;
                       }
                   }
                }
            }

            .info {
                display: none;
            }

            .info--mobile {
                display: flex;
                .item {
                    width: 10px;
                }
                .item1, .item2, .item3 {
                    display: none;
                }

                .item1 {
                    display: inline;
                }
            }

            .controls {
                display: flex;
                justify-content: center;
                margin-top: 30px;
                .dot {
                    padding: 5px;
                    margin: 0 10px;
                    height: 15px;
                    width: 15px;
                    background-color: $primaryControl;
                    border-radius: 50%;
                    display: inline-block;
                }
                .dot--active {
                    background: $primaryControlActive;
                    width: 30px;
                    border-radius: 50px;
                    transition: all 0.5s;
                }
            }

        }

    }
}
